@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './iview';
@import './sidebar.scss';
@import './common.scss';

/**
 全局样式
 */
//网站内容居中
.padding {
   padding: 0 5% 0 5%;
}



.app-container {
}

.app-header{
  //@extend .flex-row-center;
    @extend .padding;
  //padding:$headerPadding 0 $headerPadding 0;// 上右下左
  position: fixed;
height: 65px;
  width: 100%;
}
.app-main{
    @extend .padding;
  min-height: 100%;
    top:65px;
    bottom: 80px;
  margin: 88px 20px 0;
  background: #fff;
  //minHeight: 500px;
  //padding: 0 50px;

}
.app-footer {
    height: 80px;
}

// flex布局，水平垂直居中
.flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.input-common-width {
  width: 360px;
}

.input-search-width {
  width: 220px;
}

.warp-add {
  margin-top: -10px;
  text-align: right;
}

.warp-pagination {
  text-align: right;
}


.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
