@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import '../my-theme/iview';
@import './sidebar.scss';
@import './common.scss';
@import './header.scss';

/**
 全局样式
 */
//网站内容居中

.app-container {
  //@include flex-column($alignY:flex-start,$alignX:center);
  position: relative;
  background: $mainContainerBg;
  overflow-x: hidden;
  //background-color: #FFFFFF;
}

.app-main {
  min-height: 100%;
  .main-container {
    @include flex-row(flex-start, flex-start);
    margin-top: 1.6rem;
    border-radius: 2px;
    .app-section {
      flex-grow: 1;
      text-align: left;
      background-color: #FFFFFF;
      /*background-color: #f4f5f5;*/

    }

    .app-right-aside {
      margin-left: 1.6rem;
      /*background-color: #FFFFFF;*/
    }
  }
}

/* 右边侧边栏 start */
@media screen and (min-width: 980px) {
  .app-right-aside {
    display: block;
  }
}

@media screen and (max-width: 979px) {
  .app-right-aside {
    display: none;
  }
}

/* 右边侧边栏 end */

.app-footer {
  height: 80px;
}

// flex布局，水平垂直居中
.flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: flex-start;
}

.hr {
  border: 0.5px solid #E9EAEC;
}

.input-common-width {
  width: 360px;
}

.input-search-width {
  width: 220px;
}

.warp-add {
  margin-top: -10px;
  text-align: right;
}

.warp-pagination {
  text-align: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
