//全局变量，用于统一
$menuHover: #3CB371;
// 网站主题颜色
$appColor: #3CB371;
// 普通按钮的内边距
$commonPadding: 12px;
// z-index值
$fixedZindex:20;


/* region 头部导航 */
// 头部的内边距
$headerPadding: 20px;
// 头部导航字体大小

/* endregion */

/* region 主体内容 */
// 头部的内边距
$mainPadding: 0 5%;
// 头部导航字体大小
$mainContainerBg:#f4f5f5

/* endregion */


